header{
    width: 70%;
    
}

header h1{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.word{
    width: 70%;
}

#name{
    text-align: center;
    width: 264px;
    height: 22px;
    border-radius: 5px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button{
    text-align: center;
    width: 96px;
    height: 20px;
    fill: #996D18;
    stroke-width: 1px;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.word p{
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #FFF;
    font-family: "Ink Free";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}